@font-face {
  font-family: "SL";
  src: url("SL.ttf");
}

body {
  font-size: 16px;
  font-family: "SL";
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.social {
  display: flex;

}
@keyframes heartbeat {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.2); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

div.ball {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
/*  animation: heartbeat 5s infinite;*/
}
::selection { background: #f0f; color: #f0f;}
