@font-face {
  font-family: "CAB";
  src: url("CAB.otf");
}
@font-face {
  font-family: "CTR";
  src: url("CTR.otf");
}
@font-face {
  font-family: "AB";
  src: url("AB.otf");
}

html, body {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
      font-family: "AB";
      /*background: url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif) no-repeat 50% 50%;*/
      background: black;
      background-size: cover;
      text-transform: uppercase;
}

.gif-overlay {
      z-index: -1;
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
      background: rgba(14, 14, 14, 0.8);
}

.nav {
      position: fixed;
      width: 100%;
      height: 80px;
}

.artist {
      z-index: 2;
      position: fixed;
      line-height: 80px;
      margin: 0 40px;
      color: #fff;
      font-size: 12px;
      letter-spacing: 1px;
}

.watch {
      z-index: 2;
      position: fixed;
      right: 0;
      line-height: 80px;
      margin: 0 40px;
      color: grey;
      font-family: "AB";
}

.watch a {
  font-family: "AB";
  font-size: 12px;
  color: grey;
  text-decoration: none;
  transition: all 0.5s ease;
  letter-spacing: 1px;
}
.watch a:hover {
  color: white;
}

.hero-gif {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 48vw;
      height: 46vh;
      /*background: url(https://media.giphy.com/media/yHBdTwQp0a91e/giphy.gif) no-repeat 50% 50%;*/
      background-size: cover;
      animation-delay: 2s;
      /*-webkit-animation: animateGIF 2s cubic-bezier(0,.58,1,.58);*/
      z-index: 3;
}

@-webkit-keyframes animateGIF {
      0% {
            width: 100%;
            height: 100%;
      }

      40% {
            width: 100%;
            height: 100%;
      }

      100% {
            width: 48vw;
            height: 46vh;
      }
}

.hero-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mix-blend-mode: difference;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      /*height: 100%;*/
      justify-content: center;
      z-index: 4;
}

.hero-title h1 {
      color: white;
      text-transform: uppercase;
      font-size: 45px;
      margin-bottom: 0%;
      margin-top: 0;
      line-height: 1;
      letter-spacing: 3px;
}
.hero-title .js-marquee {
      padding-left: 15px;
}

.hero-title p {
      color: grey;
      font-family: "AB";
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 14px;
}

.social-media {
  position: absolute;
  bottom: .5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.social-media ul {
  margin: 40px 0;
  padding: 0;
}
.social-media ul li {
      display: inline-block;
      list-style: none;
      padding: 0 10px;
      font-family: "AB";
      font-size: 12px;
      letter-spacing: 1px;
}

.social-media a {
      color: grey;
      text-decoration: none;
      transition: all 0.5s ease;
}

.social-media a:hover {
      color: white;
}

.listensong {
      position: absolute;
      bottom: 0%;
      right: 40px;
      transform: translateY(-50%);
}

.listensong ul li {
      display: inline-block;
      list-style: none;
      color: #fff;
      padding: 0 10px;
}

#rotated  {
      color: #fff;
      font-family: "AB";
      font-weight: 100;
      font-size: 10px;
      letter-spacing: 4px;
}

.rotatethis {
      position: absolute;
      top: 19%;
      left: 74%;
      transform: translate(-50%, -50%);
      animation: rotating 20s linear infinite;
      z-index: 4;
}

@keyframes rotating  {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

@media(max-width: 900px) {
      .watch, .rotatethis, .hero-title p, .hero-gif {
            display: none !important;
      }

      /*.hero-title {
            top: 45%;
            left: 50%;
      }*/

      .hero-title h1 {
            font-size: 32px;
      }
}

.outlined {
  color: transparent;
  -webkit-text-stroke: 1px white;
}


.marquee {
  width: 100%;
  overflow: hidden;
  padding: 0; }

.marquee h1 {
  position: relative;
  padding: 0;
  overflow: visible;
  white-space: nowrap; 
}