@font-face {
  font-family: "SL";
  src: url("SL.ttf");
}
@font-face {
  font-family: "SWB";
  src: url("SWB.ttf");
}
body {
  font-size: 15px;
  font-family: "SL";
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 3;
  mix-blend-mode: difference;
}

h1 {
  font-size: 60px;
  letter-spacing: 0.05em;
}
.social {
  display: flex;
  justify-content: center;
}
a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
.social > a {
  padding: 0 35px;
}
.footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.marquee {
  mix-blend-mode: difference;
  width: 100%;
  overflow: hidden;
  padding:0;
}
.marquee span {
  position:relative;
  padding: 0 5px 0 0;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  overflow:visible;
  white-space:nowrap;
}

@keyframes blink {
  50% { opacity: 0; }
}
.blink-text:hover {
  animation: blink 0.2s linear infinite;
}


@keyframes heartbeat {
  0% { transform: translate(-50%, -50%) scale(1); }
  50% { transform: translate(-50%, -50%) scale(1.2); }
  100% { transform: translate(-50%, -50%) scale(1); }
}

div.ball {
  mix-blend-mode: difference;
  z-index: 0;
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
/*  animation: heartbeat 5s infinite;*/
}
/*::selection { background: #f0f; color: #f0f; text-shadow: 0.015em 0.015em 0.05em rgba(0,0,0,0.35);}*/
